html {
	font-size: 10px;
}

body {
	font-family: 'Raleway', sans-serif;
	margin-left: 20rem;
    margin-right: 20rem;
}

h1 {
	border-bottom: 1px solid #E2E2E2;
	margin-bottom: 5rem;
	width: 98%;
	}
h1:hover{
	text-decoration:underline steelblue;
}

.box {
	overflow: auto;
}

.cart {
	width: 32%;
	height: 550px;
	float: left;
	margin-bottom: 5rem;
	margin-right: 2rem;
	overflow: auto; 
}

.cart-img > img {
	width: 100%;
}

.cart-title {
	font-size: 2.4rem;
	font-weight: 700;
	color: #354657;
}
.cart-title:hover{
	text-decoration:underline steelblue;
}

.cart-desc {
	font-size: 1.6rem;
	font-weight: 400;
	color: #354657;
}

.cart-link {
	border: 2px solid #946FD3;
	box-sizing: border-box;
	border-radius: 50px;
	
	color: #946FD3;
	font-size: 1.6rem;
	font-weight: 700;
	text-decoration: none;

	padding: 1.5rem 3rem;
    display: inline-block;

}
.cart-link:hover{
	text-decoration:underline #946FD3;
	text-decoration-thickness: 2px;
}
.footer{
	margin-top: 100px;
	height: 100px;
	border-top: 1px solid #E2E2E2;
}
.logo > img{
	height: 100%;
}
.logo, .team, .contacts{

	display: inline-block;
	margin-right: 40px;
	vertical-align: middle;
}
.logo{
	margin-right: 90px;

}
.team > a, .contacts > a{
font-weight: bold;
font-size: 1.6rem;
color: #354657;
text-decoration: none;
}
.team > a:hover, .contacts > a:hover{
	text-decoration: underline steelblue;
	text-decoration-thickness: 2px;
}
.soc{
	float: right;
	margin-top: 1.5rem;
}
.soc > img{
	margin-right: 1rem;
}