﻿body {
    margin: 0px;
    padding: 0px;
}
.header{

    opacity:1;
    Width:751px;
    Height:236px;
    background-color:#2D7053;
   }

.about{
    opacity:1;
    color:#000000;
    font-family:AdobeInvisFont,MyriadPro-Regular;
    font-size:24px;
    text-align:left;
    Width:590px;
    Height:166px;
    margin-left: 44px;
}
.why{
    opacity:1;
    color:#000000;
    font-family:AdobeInvisFont,MyriadPro-Regular;
    font-size:36px;
    text-align:left;
    Width:545px;
    Height:32px;
    margin-left: 44px;
}
li {
    list-style: none; 
    opacity:1;
    color:#000000;
    font-family:AdobeInvisFont,MyriadPro-Regular;
    font-size:24px;
    text-align:left;
   }

.text1{
    opacity:1;
    color:#FFFFFF;
    font-family:AdobeInvisFont,MyriadPro-Regular;
    font-size:30px;
    margin: 0px 0px;
    text-align:left;
   }

   .circle{
       background-color: #FFFFFF;
       border-radius: 50%;
       Width: 142px;
       height: 142px;
       display: inline-block;
       margin: 46px 29px 48px 37px;
   }
   .rect{
        Width: 134px;
        Height: 131px;
        display: inline-block;
        margin-left: 237px;
   }
   .lines{
        display: inline-block;
        margin-left: 581px;
        position: absolute;
        top: 83px;
   }
   .line{
        Width: 85px;
        Height: 13px;
        border-radius: 10px;
        background-color: #FFFFFF; 
        margin-bottom: 15px;     
   }
.room {
    background-image: url(img/room.png);
    width: 750px;
    height: 466px;
    position: relative;
}
.room2 {
    position: absolute;
    background-color: black;
    opacity: 0.3;
    width: 742px;
    height: 444px;
    margin-left: 8px;
    margin-top: 1px;
  }
  .text2 {
    display: inline-block;
    margin-left: 45px;
    margin-top: 29px;
}
.record{
    opacity:1;
    background-color:#CB9223;
    position: absolute;
    width: 342px;
    height: 75px;
    margin-top: 343px;
    margin-right: 204px;
    margin-bottom: 26px;
    margin-left: 196px;
   }
.p2{
    opacity:1;
    text-align: center;
    font-size:24px;
   } 
.p2>a{
    text-decoration: none;
    color:#FFFFFF;
    font-family:AdobeInvisFont,MyriadPro-Regular;  
   }   
.info {
    display: inline-block;
}
.selfi {
    display: inline-block;
    background-image: url(img/selfi.png);
    width: 247px;
    height: 247px;
    margin-top: 73px;
    margin-left: 44px;
    border-radius: 50%;
}
.fio {
    margin-top: 61px;
    margin-left: 366px;
    font-family: 'MyriadPro-Regular', 'AdobeInvisFont';
    white-space: nowrap;
    font-size: 36px;
    width: 210px;
    height: 27px;
}
.spec {
    font-family: 'MyriadPro-Regular', 'AdobeInvisFont';
    font-size: 24px;
    margin-left: 364px;
    margin-top: 29px;
    width: 245px;
    height: 50px;
}
.record2{
    opacity:1;
    background-color:#CB9223;
    width: 342px;
    height: 75px;
    margin-top: 43px;
    margin-right: 204px;
    margin-bottom: 49px;
    margin-left: 196px;
   }
.p3{
    opacity:1;
    text-align: center;
    font-size:24px;
    padding-top: 25px;
   } 
.p3>a{
    text-align: center;
    text-decoration: none;
    color:#FFFFFF;
    font-family:AdobeInvisFont,MyriadPro-Regular;  
   }  
.footer{
    opacity:1;
    Width:751px;
    Height:154px;
    background-color:#888888;

}
.circle2{
    background-color: #FFFFFF;
    border-radius: 50%;
    Width: 97px;
    height: 97px;
    display: inline-block;
    margin: 29px 184px 28px 44px;
}
.address{
    display: inline-block;
    margin-top: 103px;
    vertical-align: top;
    color:#FFFFFF;
    font-family:AdobeInvisFont,MyriadPro-Regular;
    font-size:18px;
    text-align:left;
}
.contacts {
    margin-top: 53px;
    margin-left: 38px;
    vertical-align: top;
    display: inline-block;
}
.tel,.mail{
    opacity:1;
text-decoration: none;
color:#FFFFFF;
font-family:AdobeInvisFont,MyriadPro-Regular;
font-size:18px;
text-align:left;
}