html{
    font-size: 10px;
   /* height: 100%;
    width: 100%;*/
}
body{
    margin: 3% 13%;
    padding: 0;
    background: rgba(0, 0, 0, .65) url("../img/background@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    
}

header{
     margin-bottom: 3rem; 
     margin-right: 26%;  
}
header a{
    text-decoration: none;
    font-size: 1.8rem;
    color: white; 
}
.logo{
    font-weight: 700;
    font-family: Courier;
    font-size: 3rem;
    color: white;

}
.logo > div:last-child{
    font-size: 1.8rem;
}
.logo::before{
    content:"";
    width: 44px;
    height: 46px;
    background-image: url("../img/logo@1X.png");
    float: left;
    margin-right: 1rem;
}
.contacts{
    float: right;
    margin-top: -4.5rem;
    text-align: right;
}
main{
	overflow: auto;
    margin-bottom: 6rem;
}
.item {
	float: left;
	margin-bottom: 5rem;
	margin-right: 7rem;
	overflow: auto; 
}
.item-img > img {
    height: 200px;
	width: 307px;

}
.item-title {
    text-align: center;
    font-family: Verdana;
    font-size: 1.8rem;
    color: white;
}

footer{
    margin-top: -6rem;
    height: 6rem;
    margin-left: 27%;
    font-size: 1.2rem;
    color: white;
    
}